<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962089194534-k0qbftp0fikl9s1k8ipl28im6kmh0ehn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962089194534-k0qbftp0fikl9s1k8ipl28im6kmh0ehn</string>
	<key>API_KEY</key>
	<string>AIzaSyCocIQW7bJoS4VvWPSx-H12fGD1WCxeU94</string>
	<key>GCM_SENDER_ID</key>
	<string>962089194534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-3e876</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-3e876.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962089194534:ios:b635919ff9010a2c8642e7</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-3e876.firebaseio.com</string>
</dict>
</plist>